/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  body {
    height: 100%;
  }
  .react-terminal-wrapper {
    height: 100%;
  }
  .react-terminal-line {
    white-space: pre-wrap !important;
    word-break: break-word !important;
  }
}
